<main class="container">
  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"></p>
  <%= @inner_content %>
</main>
<footer>
  <ul>
    <li><%= link "Home", to: Routes.live_path(GEMSWeb.Endpoint, GEMSWeb.GEMSLive) %></li>
    <li><%= link "Private Room", to: Routes.room_path(GEMSWeb.Endpoint, :new) %></li>
  </ul>
</footer>
